@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  src: url();
}
.container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 50px 0px 90px 0px;
}
.flex-direct-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
.flex-direct-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
.top-bar{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 70px;
  background-color: #D9D9D9;
  z-index: 10;
}
.menu{
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-link{
  margin: 25px 10px 0px 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.nav-link:hover{
  opacity: 0.5;
}
.title-main{
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.title-profesi{
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.btn-profesi{
  width: 212.41px;
  height: 45.43px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border-radius: 15px;
  border: none;
  transition: all 0.3s ease 0s;
}
.btn-profesi:hover{
  opacity: 0.8;
  transform: scale(1.05);
}
.tentara{
  width: 250px;
  background-color: #D5FFDD;
  border-radius: 20px;
}
.tentara .btn-profesi{
  background-color: #399349;
}
.tentara p {
  font-size: 14px;
}
.tentara .btn-profesi{
  position: relative;
  top: -100px;
}
.tentara .flex-direct-column{
  gap: 0px;
}
.tentara .content{
  position: relative;
  top: 15px;
}
.petani{
  width: 250px;
  height: 200px;
  background-color: #FFF4DC;
  border-radius: 20px;
}
.petani img{
  position: relative;
  top: 30px;
}
.petani .btn-profesi{
  background-color: #E29A00;
  position: relative;
  top: -50px;
}
.pramugari{
  width: 250px;
  height: 200px;
  background-color: #FFCED7;
  border-radius: 20px;
}
.pramugari img{
  position: relative;
  top: 30px;
}
.pramugari .btn-profesi{
  position: relative;
  top: -50px;
  background-color: #FF5573;
}
.fotografer{
  width: 250px;
  padding: 30px 0px;
  background-color: #E2F2FF;
  border-radius: 20px;
}
.fotografer .deskripsi-profesi{
  text-align: center;
  width: 60%;
}
.fotografer .btn-profesi{
  background-color: #3279AF;
}
.set1{
  width: 100%;
  height: auto;
}
.dokter{
  width: 250px;
  height: 200px;
  background-color: #E9E8E2;
  border-radius: 20px;
}
.dokter img{
  width: 170px;
  height: 170px;
  position: relative;
  top: 30px;
}
.dokter .title-profesi{
  display: none;
}
.dokter .btn-profesi{
  position: relative;
  top: -50px;
  background-color: #CAC8B3;
}
.pilot{
  width: 250px;
  height: 200px;
  background-color: #E9E8E2;
  border-radius: 20px;
}
.pilot img{
  width: 170px;
  height: 170px;
  position: relative;
  top: 30px;
}
.pilot .title-profesi{
  display: none;
}
.pilot .btn-profesi{
  position: relative;
  top: -50px;
  background-color: #CAC8B3;
}
.ilmuan{
  width: 250px;
  height: 200px;
  background-color: #E9E8E2;
  border-radius: 20px;
}
.ilmuan img{
  width: 170px;
  height: 170px;
  position: relative;
  top: 30px;
}
.ilmuan .title-profesi{
  display: none;
}
.ilmuan .btn-profesi{
  position: relative;
  top: -50px;
  background-color: #CAC8B3;
}
.pembalap{
  background-color: #FFDBC5;
  border-radius: 20px;
  width: 250px;
  height: 200px;
}
.pembalap img{
  width: 170px;
  height: 170px;
  position: relative;
  top: 30px;
}
.pembalap .title-profesi{
  display: none;
}
.pembalap .btn-profesi{
  position: relative;
  top: -50px;
  background-color: #E36415;
}
.astronout{
  background-color: #8FC5ED;
  border-radius: 20px;
  width: 250px;
  height: 200px;
}
.astronout img{
  width: 170px;
  height: 170px;
  position: relative;
  top: 30px;
}
.astronout .title-profesi{
  display: none;
}
.astronout .btn-profesi{
  position: relative;
  top: -50px;
  background-color: #275E87;
}
@media(min-width: 425px) {
  .container{
    width: 80%;
    padding: 70px 0px 90px 0px;
  }
  .tentara{
    width: 289px;
    height: 299px;
  }
  .tentara .content{
    top: 0px;
  }
  .tentara img{
    position: relative;
    top: -50px;
  }
  .tentara .desc-profesi{
    position: relative;
    top: -45px;
  }
  .tentara .btn-profesi{
    position: absolute;
    top: -80px;
    margin-top: 30px;
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 15px;
  }
  .petani{
    width: 288.53px;
    height: 221px;
  }
  .petani img{
    width: 213.26px;
    height: 208.72px;
    /* position: relative; */
    top: 10px;
  }
  .petani .btn-profesi{
    margin-top: 0px;
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: -70px;
  }
  .pramugari{
    width: 289px;
    height: 239.85px;
  }
  .pramugari img{
    width: 209.06px;
    height: 226.53px;
    position: relative;
    top: 15px;
  }
  .pramugari .btn-profesi{
    margin-top: 0px;
    width: 212.75px;
    height: 49.3px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: -70px;
  }
  .fotografer{
    margin-top: 70px;
    width: 289px;
    height: 314px;
    padding: 0px 0px;
  }
  .fotografer .content{
    position: relative;
    bottom: 40px;
  }
  .fotografer .flex-direct-column{
    gap: 5px;
    align-items: center;
  }
  .fotografer img{
    width: 230px;
    height: 230px;
  }
  .fotografer .title-profesi{
    font-size: 24px;
  }
  .fotografer .desc-profesi{
    position: relative;
    top: 20px;
  }
  .fotografer .deskripsi-profesi{
    font-size: 12px;
    width: 60%;
    line-height: 18px;
  }
  .fotografer .btn-profesi{
    position: absolute;
    top: -80px;
    margin-top: 30px;
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 15px;
  }
  .dokter{
    width: 288.53px;
    height: 221px;
  }
  .dokter img{
    width: 213px;
    height: 213px;
    position: relative;
    top: 10px;
  }
  .dokter .btn-profesi{
    margin-top: 0px;
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    font-size: 20px;
    top: -70px;
  }
  .pilot{
    width: 288.53px;
    height: 221px;
  }
  .pilot img{
    width: 213px;
    height: 213px;
    top: 10px;
  }
  .pilot .btn-profesi{
    margin-top: 0px;
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    font-size: 20px;
    top: -70px;
  }
  .ilmuan{
    width: 288.53px;
    height: 221px;
  }
  .ilmuan img{
    width: 213px;
    height: 213px;
    top: 10px;
  }
  .ilmuan .btn-profesi{
    margin-top: 0px;
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    font-size: 20px;
    top: -70px;
  }
  .pembalap{
    width: 288.53px;
    height: 221px;
  }
  .pembalap img{
    width: 213.26px;
    height: 208.72px;
    top: 15px;
  }
  .pembalap .btn-profesi{
    margin-top: 0px;
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    top: -65px;
  }
  .astronout{
    width: 288.53px;
    height: 221px;
  }
  .astronout img{
    width: 213.26px;
    height: 208.72px;
    position: relative;
    top: 15px;
  }
  .astronout .btn-profesi{
    margin-top: 0px;
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    top: -65px;
  }
}
@media(min-width: 1280px) {
  .container{
    padding: 50px 0px;
  }
  .flex-direct-column {
    flex-direction: column;
  }
  .flex-direct-row{
    flex-direction: row;
  }
  .title-main{
    margin-top: 83px;
    font-size: 40px;
  }
  .top-bar{
    position: fixed;
    top: 0px;
    height: 50px ;
  }
  .nav-link{
    margin: 15px 10px 0px 10px;
  }
  .title-profesi{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }
  .tentara{
    width: 490px;
    height: 180px;
  }
  .tentara .flex-direct-column{
    align-items: start;
    gap: 5px;
  }
  .tentara .flex-direct-row{
    gap: 0px;
  }
  .tentara img{
    top: -50px;
  }
  .tentara .desc-profesi{
    top: -30px;
  }
  .tentara .btn-profesi{
    position: static;
    width: 240px;
    height: 37px;
  }
  .petani{
    width: 235px;
    height: 180px;
  }
  .petani img{
    width: 173.7px;
    height: 170px;
  }
  .petani .btn-profesi{
    margin-top: 30px;
    width: 173px;
    height: 37px;
    top: -90px;
  }
  .pramugari{
    width: 235px;
    height: 181px;
  }
  .pramugari img{
    width: 170px;
    height: 170px;
    top: 10px;
  }
  .pramugari .btn-profesi{
    margin-top: 30px;
    width: 173px;
    height: 37px;
    top: -90px;
  }
  .fotografer{
    margin-top: 0px;
    width: 230px;
    height: 392px;
  }
  .fotografer .content{
    margin-top: 30px;
    position: static;
    bottom: 0px;
  }
  .fotografer .flex-direct-column{
    gap: 5px;
    display: flex;
    justify-content: center;
  }
  .fotografer img{
    width: 160px;
    height: 160px;
  }
  .fotografer .title-profesi{
    font-size: 20px;
    line-height: 30px;
  }
  .fotografer .btn-profesi{
    margin-top: 30px;
    width: 173px;
    height: 37px;
    position: relative;
    top: -20px;
  }
  .set1{
    width: 500px;
    height: 392px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .set1 .flex-direct-column{
    gap: 20px;
  }
  .dokter{
    width: 423px;
    height: 96px;
    background-color: #FFF;
  }
  .dokter img{
    width: 70px;
    height: 70px;
    top: -5px;
  }
  .dokter .title-profesi{
    display: block;
  }
  .dokter .flex-direct-column{
    align-items: start;
    gap: 5px;
  }
  .dokter .flex-direct-row{
    gap: 10px;
  }
  .dokter .content{
    position: relative;
    top: 15px;
    left: 20px;
  }
  .dokter .btn-profesi{
    width: 149px;
    height: 22px;
    border-radius: 10px;
    background-color: #D8D6C1;
    font-size: 12px;
    color: #fff;
    position: static;
    top: 0px;
  }
  .dokter .title-profesi{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  .pilot{
    width: 423px;
    height: 96px;
    background-color: #FFF;
  }
  .pilot img{
    width: 70px;
    height: 70px;
    top: -5px;
  }
  .pilot .title-profesi{
    display: block;
  }
  .pilot .flex-direct-column{
    align-items: start;
    gap: 5px;
  }
  .pilot .flex-direct-row{
    gap: 10px;
  }
  .pilot .content{
    position: relative;
    top: 15px;
    left: 20px;
  }
  .pilot .btn-profesi{
    width: 149px;
    height: 22px;
    border-radius: 10px;
    background-color: #D8D6C1;
    font-size: 12px;
    color: #fff;
    top: 0px;
  }
  .pilot .title-profesi{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  .ilmuan{
    width: 423px;
    height: 96px;
    background-color: #FFF;
  }
  .ilmuan img{
    width: 70px;
    height: 70px;
    top: -5px;
  }
  .ilmuan .title-profesi{
    display: block;
  }
  .ilmuan .flex-direct-column{
    align-items: start;
    gap: 5px;
  }
  .ilmuan .flex-direct-row{
    gap: 10px;
  }
  .ilmuan .content{
    position: relative;
    top: 15px;
    left: 20px;
  }
  .ilmuan .btn-profesi{
    width: 149px;
    height: 22px;
    border-radius: 10px;
    background-color: #D8D6C1;
    font-size: 12px;
    color: #fff;
    top: 0px;
  }
  .ilmuan .title-profesi{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  .set2{
    width: 500px;
    height: 181px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  .set2 .flex-direct-row{
    gap: 5px;
  }
  .set2 .content{
    position: relative;
    top: 10px;
    left: 5px;
  }
  .pembalap{
    background-color: transparent;
  }
  .pembalap img{
    width: 120px;
    height: 120px;
    top: 8px;
  }
  .pembalap .title-profesi{
    display: block;
  }
  .pembalap .title-profesi{
    font-weight: 500;
    font-size: 15px;
  }
  .pembalap .desc-profesi{
    position: relative;
    top: 15px;
  }
  .pembalap .btn-profesi{
    width: 100px;
    height: 55px;
    border-radius: 10px;
    background-color: #D8D6C1;
    font-size: 15px;
    color: #fff;
    top: 0px;
  }
  .pembalap .flex-direct-column{
    align-items: start;
    gap: 0px;
  }
  .pembalap .flex-direct-row{
    gap: 0px;
  }
  .astronout{
    background-color: transparent;
  }
  .astronout img{
    width: 120px;
    height: 120px;
    top: 8px;
  }
  .astronout .title-profesi{
    display: block;
  }
  .astronout .title-profesi{
    font-weight: 500;
    font-size: 15px;
  }
  .astronout .desc-profesi{
    position: relative;
    top: 15px;
  }
  .astronout .btn-profesi{
    width: 100px;
    height: 55px;
    border-radius: 10px;
    background-color: #D8D6C1;
    font-size: 15px;
    color: #fff;
    top: 0px;
  }
  .astronout .flex-direct-column{
    align-items: start;
    gap: 0px;
  }
  .astronout .flex-direct-row{
    gap: 0px;
  }
}